<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo JWT</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Main.css" rel="stylesheet" type="text/css"/>
    @RenderSection("RenderCss", false)
</head>
<body>
    <div class="main-container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var checkIsSuccess = '@(TempData["IsSuccess"] != null)';
        var checkIsError = '@(TempData["IsError"] != null)';

        if (checkIsSuccess == 'True')
            alert('@Html.Raw(TempData["IsSuccess"])');
        if (checkIsError == 'True')
            alert('@Html.Raw(TempData["IsError"])');
    </script>
    @RenderSection("RenderScript", false)
</body>
</html>